<h1>Thank you!</h1>
<p>Article has been created! ЭТОТ VIEW МОЖНО УДАЛИТЬ, ОН УЖЕ НЕ ИСПОЛЬЗУЕТСЯ!</p>
<a href="/articles">Show all articles</a> <br />
<%= link_to 'Show all articles!', articles_path %>